<h1><%= @list.name %></h1>
  </div>
    <span class="movie-tag"><%= pluralize(@list.movies.size, 'movie') %></span>
  </div>
      <tr>
        <% @list.movies each do |movie| %>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
          <td><%= movie.title %></td>
          <td><%= movie.overview %></td>
          <td><%= bookmark.comment %></td>
        <% end %>
      </tr>
      <div>
      <%= link_to "See all my lists", lists_path %>
    </div>
